/* Global settings */
body{
	font-family: Palatino;
}
a{
	text-decoration: none;
	color: rgb(153,153,153);
}
a:hover{
    text-decoration: underline;
	color: rgb(153,153,153);
}
ul.navbar{
	list-style-type: none;
	padding-left: 1em;
	padding-top: 0em;
	font-size: 14px;
	overflow: hidden;
}
li.navbar{
	float:left;
	padding-right: 2em;
	text-align: center;
	height: 45px;
	font-variant: small-caps;
}
div.page_foot {
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	font-size: 75%;
}
div.footer{
	font-size: 85%;
}
td{
	vertical-align: top;
}
/* Home page */
table.index{
	width: 100%;
	overflow-x:auto;
}
td.main{
	padding-left: 10px;
	text-indent: 0px;
	line-height: 130%;
}
td.twitter-timeline{
	width: 300px;
}
/* CV page */
table.CV{
	border-spacing: 20px 5px;
}
td.CV{
	text-align: left;
	padding-left: 20px;
	text-indent: -20px;
}
td.year{
	text-align: left;
	white-space: nowrap;
	width: 50px;
}
h1{
	font-size: 120%;
	font-variant: small-caps;
	font-weight: bold;
}
h2{
	font-size: 100%;
}
/* Current project page */
li.current{
	text-align: left;
	padding-left: 20px;
	text-indent: -20px;
	padding-bottom: 2em;
}
img.current{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width:100%;
}
p.caption{
	font-size: 80%;
	text-align: center;
}
